absl-py==0.8.1
adal==1.2.2
aiobotocore==1.1.2
aiohttp==3.7.3
aioitertools==0.7.1
alembic==1.4.2
amqp==2.5.2
AnyQt==0.0.11
aplus==0.11.0
app-json-file-cache==0.2.2
appdirs==1.4.4
arrow==0.15.4
astor==0.8.0
astropy==4.1
async-timeout==3.0.1
atari-py==0.2.6
atpublic==2.1.2
attrs==19.3.0
autograd==1.3
autopep8==1.5.4
aws==0.2.5
aws-cdk.cdk-assets-schema==1.41.0
aws-cdk.cloud-assembly-schema==1.41.0
aws-cdk.core==1.41.0
aws-cdk.cx-api==1.41.0
aws-lambda-builders==1.1.0
aws-list-all==0.7.3
aws-sam-cli==1.2.0
aws-sam-translator==1.26.0
awscli==1.18.33
azure-common==1.1.25
azure-core==1.4.0
azure-graphrbac==0.61.1
azure-mgmt-authorization==0.60.0
azure-mgmt-containerregistry==2.8.0
azure-mgmt-keyvault==2.2.0
azure-mgmt-resource==8.0.1
azure-mgmt-storage==9.0.0
azure-storage-blob==12.3.0
azureml-core==1.3.0.post2
backcall==0.2.0
backports.tempfile==1.0
backports.weakref==1.0.post1
baycomp==1.0.2
bcrypt==3.1.7
billiard==3.6.3.0
binaryornot==0.4.4
bleach==3.1.5
boto==2.49.0
boto3==1.14.63
botocore==1.17.44
Bottleneck==1.3.2
box2d-py==2.3.8
bqplot==0.12.18
branca==0.4.1
CacheControl==0.12.6
cachetools==3.1.1
cachy==0.3.0
catboost==0.24.3
category-encoders==2.2.2
catkin-pkg==0.4.15
cattrs==1.0.0
celery==4.4.1
certifi==2019.9.11
cesium==0.9.12
cffi==1.13.2
chardet==3.0.4
chevron==0.13.1
cleo==0.8.1
Click==7.0
clikit==0.6.2
cloudpickle==1.2.2
colorama==0.4.3
colorlover==0.3.0
colour==0.1.5
commonmark==0.9.1
conda==4.3.16
configobj==5.0.6
configparser==5.0.0
constructs==3.0.3
contextlib2==0.6.0.post1
cookiecutter==1.6.0
crashtest==0.3.1
cryptography==2.8
cufflinks==0.17.3
cycler==0.10.0
Cython==0.29.14
dask==2.10.1
dask-glm==0.2.0
dask-ml==1.7.0
databricks-cli==0.10.0
dateparser==0.7.6
decorator==4.4.2
defusedxml==0.6.0
dictdiffer==0.8.1
dill==0.3.1.1
distlib==0.3.1
distributed==2.10.0
distro==1.4.0
docker==4.2.0
docutils==0.15.2
dpath==2.0.1
dtreeviz==1.1.2
dulwich==0.20.15
dvc==1.11.12
entrypoints==0.3
et-xmlfile==1.0.1
fabric==2.5.0
Faker==4.14.2
filelock==3.0.12
flake8==3.7.8
flasgger==0.9.4
Flask==1.0.4
flatten-dict==0.3.0
flufl.lock==3.2
fsspec==0.8.4
ftfy==5.8
funcy==1.15
future==0.18.2
gast==0.2.2
gatspy==0.3
gitdb==4.0.4
GitPython==3.1.1
glfw==1.8.5
google-api-core==1.17.0
google-auth==1.14.1
google-auth-oauthlib==0.4.1
google-cloud-core==1.3.0
google-cloud-storage==1.28.0
google-pasta==0.1.8
google-resumable-media==0.5.0
googleapis-common-protos==1.6.0
gorilla==0.3.0
grandalf==0.6
graphviz==0.14.2
grpcio==1.25.0
gunicorn==20.0.4
-e git+https://github.com/openai/gym.git@52e66f38081548e38711f51d4439d8bcc136d19e#egg=gym
h11==0.9.0
h2o==3.32.0.2
h5py==2.10.0
HeapDict==1.0.1
# Editable Git install with no remote (hi-avail-cdk==0.0.1)
-e /home/sid/mystuff/myprogs/aws/cdk1/hi_avail_cdk/hi_avail_cdk
html5lib==1.1
httpcore==0.10.2
httpx==0.14.3
idna==2.8
imageio==2.6.1
imbalanced-learn==0.7.0
importlib-metadata==1.7.0
imutils==0.5.3
iniconfig==1.1.1
invoke==1.4.1
ipydatawidgets==4.1.0
ipykernel==5.3.0
ipyleaflet==0.13.3
ipympl==0.5.8
ipython==7.16.1
ipython-genutils==0.2.0
ipyvolume==0.5.2
ipyvue==1.4.1
ipyvuetify==1.5.1
ipywebrtc==0.5.0
ipywidgets==7.5.1
isodate==0.6.0
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.17.1
jeepney==0.4.3
Jinja2==2.10.3
jinja2-time==0.2.0
jmespath==0.9.5
joblib==0.17.0
jsii==1.5.0
json5==0.8.5
jsonpath-ng==1.5.2
jsonpickle==1.4.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.6.3
jupyter-highlight-selected-word==0.2.0
jupyter-kite==1.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyterlab==2.2.0
jupyterlab-server==1.2.0
kafka-python==2.0.1
kaggle==1.5.10
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==21.7.0
keyrings.alt==4.0.2
kiwisolver==1.1.0
kombu==4.6.8
Lifetimes==0.11.3
lightgbm==3.1.1
llvmlite==0.34.0
locket==0.2.0
lockfile==0.12.2
lxml==4.4.2
mailchecker==4.0.3
Mako==1.1.2
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
mistune==0.8.4
mleap==0.15.0
mlflow==1.8.0
more-itertools==7.2.0
msgpack==0.6.2
msrest==0.6.13
msrestazure==0.6.3
multidict==5.1.0
multipledispatch==0.6.0
nanotime==0.5.2
nbconvert==5.6.1
nbformat==5.0.7
ndg-httpsclient==0.5.1
nest-asyncio==1.4.2
netifaces==0.10.9
networkx==2.4
nltk==3.4.5
notebook==6.0.3
numba==0.51.2
numexpr==2.7.1
numpy==1.19.4
oauthlib==3.1.0
object-detection==0.1
opencv-python==4.1.2.30
openpyxl==3.0.5
openTSNE==0.5.0
opt-einsum==3.1.0
orange-canvas-core==0.1.18
orange-widget-base==4.10.0
Orange3==3.27.1
packaging==20.4
pandas==0.25.3
pandasql==0.7.3
pandocfilters==1.4.2
paramiko==2.7.1
parso==0.7.0
partd==1.1.0
pastel==0.2.1
pathlib2==2.3.5
pathspec==0.8.0
patsy==0.5.1
Pbar==1.0
pexpect==4.8.0
phonenumbers==8.12.16
pickleshare==0.7.5
Pillow==6.2.1
pkginfo==1.7.0
plotly==4.12.0
pluggy==0.13.1
ply==3.11
pmdarima==1.5.3
poetry==1.1.4
poetry-core==1.0.0
powerline-status==2.7
poyo==0.5.0
prettytable==0.7.2
progressbar2==3.53.1
prometheus-client==0.8.0
prometheus-flask-exporter==0.13.0
promise==2.2.1
prompt-toolkit==3.0.5
protobuf==3.10.0
protobuf3-to-dict==0.1.5
psutil==5.6.7
ptyprocess==0.6.0
publication==0.0.3
py==1.9.0
py4j==0.10.9
pyarrow==2.0.0
pyasn1==0.4.7
pyasn1-modules==0.2.7
pycodestyle==2.6.0
pycosat==0.6.3
pycparser==2.19
pydot==1.4.1
pydotplus==2.0.2
pyflakes==2.1.1
pyglet==1.3.2
Pygments==2.6.1
pygtrie==2.3.2
PyJWT==1.7.1
pylev==1.3.0
PyNaCl==1.3.0
pyOpenSSL==19.1.0
pyparsing==2.4.7
PyQt5==5.15.2
PyQt5-sip==12.8.1
pyqtgraph==0.11.1
PyQtWebEngine==5.15.2
pyrsistent==0.16.0
pyspark==3.0.1
pytest==6.1.2
python-benedict==0.23.2
python-dateutil==2.8.1
python-editor==1.0.4
python-fsutil==0.4.0
python-louvain==0.14
python-slugify==4.0.0
python-utils==2.4.0
pythreejs==2.2.1
pytz==2019.3
PyWavelets==1.1.1
PyYAML==5.1.2
pyzmq==19.0.1
qtconsole==4.7.5
QtPy==1.9.0
querystring-parser==1.2.4
radar==0.3
regex==2020.7.14
requests==2.23.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
retrying==1.3.3
rfc3986==1.4.0
rich==9.9.0
rospkg==1.2.2
rsa==3.4.2
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.0
s3fs==0.5.1
s3transfer==0.3.3
sagemaker==1.56.1.post1
scikit-image==0.16.2
scikit-learn==0.23.2
scipy==1.4.1
seaborn==0.11.0
SecretStorage==3.3.0
Send2Trash==1.5.0
serverfiles==0.3.0
serverlessrepo==0.1.9
shellingham==1.3.2
shortuuid==1.0.1
shtab==1.3.4
simplejson==3.17.0
six==1.13.0
sklearn==0.0
smdebug-rulesconfig==0.1.2
smmap==3.0.2
sniffio==1.2.0
sortedcontainers==2.1.0
SQLAlchemy==1.3.13
sqlparse==0.3.1
statsmodels==0.11.0
tables==3.6.1
tabulate==0.8.7
tblib==1.6.0
tensorboard==2.0.1
tensorflow-datasets==1.3.2
tensorflow-estimator==2.0.1
tensorflow-gpu==2.0.0
tensorflow-metadata==0.15.1
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.3
threadpoolctl==2.1.0
toml==0.10.1
tomlkit==0.7.0
toolz==0.10.0
torch==1.3.1
torchsummary==1.5.1
torchvision==0.4.2
tornado==6.0.4
tqdm==4.56.0
traitlets==4.3.3
traittypes==0.2.1
tsfresh==0.14.1
typing-extensions==3.7.4.2
tzlocal==2.1
urllib3==1.24.3
vaex==3.0.0
vaex-arrow==0.5.1
vaex-astro==0.7.0
vaex-core==2.0.3
vaex-hdf5==0.6.0
vaex-jupyter==0.5.2
vaex-ml==0.9.0
vaex-server==0.3.1
vaex-viz==0.4.0
vine==1.3.0
virtualenv==20.4.0
voluptuous==0.12.1
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==0.16.0
whichcraft==0.6.1
widgetsnbextension==3.5.1
wrapt==1.11.2
xarray==0.16.1
xgboost==1.2.1
xlrd==1.2.0
XlsxWriter==1.3.7
xmltodict==0.12.0
yarl==1.6.3
yellowbrick==1.2
zc.lockfile==2.0
zict==1.0.0
zipp==3.1.0
